<!--
  SURPRISE GRANITE - SIMPLE NAV COMPONENT
  Copy this into your pages between <body> and main content
  Requires: /css/surprisegranite.webflow.shared.*.css
-->

<!-- Top Banner Bar -->
<div class="navbar-fixed_wrapper">
  <nav class="navbar_wrapper">

    <!-- Banner with CTA -->
    <div class="navbar-banner_component">
      <div class="navbar-banner_content-left">
        <a href="/get-a-free-estimate" class="showroom-hours_link w-inline-block">
          <div class="text-style-muted">Free</div>
          <div class="showroom-hours_tag"><div class="text-size-tiny">In-Home Estimate</div></div>
        </a>
      </div>
      <div class="navbar-banner_content-right">
        <a href="tel:+16028333189" class="button is-clear-link is-icon w-inline-block">
          <div class="text-weight-bold text-color-white">Call us today (602) 833-3189</div>
        </a>
        <div class="hide-mobile-landscape">
          <div class="button-group">
            <a href="https://form.jotform.com/232358852404053" target="_blank">Create Account</a>
            <a href="https://go.thryv.com/site/surprisegranite" target="_blank">Client Portal</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Nav -->
    <div data-animation="over-left" class="navbar_component w-nav" data-collapse="medium" role="banner" data-duration="400">
      <div class="navbar_container">
        <div class="navbar_top-row">
          <div class="navbar_menu-top-left">

            <!-- Mobile Menu Button -->
            <div class="hidden-desktop">
              <div class="button-group is-icon">
                <div class="navbar_menu-button w-nav-button">
                  <div class="menu-icon">
                    <div class="menu-icon_line-top"></div>
                    <div class="menu-icon_line-middle"><div class="menu-icon_line-middle-inner"></div></div>
                    <div class="menu-icon_line-bottom"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Logo -->
            <a href="/" class="navbar_logo-link w-nav-brand">
              <div class="navbar_logo-wrapper" style="display: flex; flex-direction: column; align-items: center;">
                <img src="https://cdn.prod.website-files.com/6456ce4476abb25581fbad0c/6456ce4476abb27beffbb16a_Surprise%20Granite%20Transparent%20Dark%20Wide.svg"
                     loading="lazy"
                     alt="Surprise Granite Marble & Quartz Logo"
                     height="32"
                     class="navbar_logo"/>
                <span style="font-size: 0.55rem; color: #cca600; letter-spacing: 1.5px; font-weight: 600; text-transform: uppercase; margin-top: 2px;">Marble & Quartz</span>
              </div>
            </a>

            <!-- Search Bar -->
            <div class="nav-search_component">
              <div class="nav-search_wrapper">
                <div class="nav-search_form-block w-form">
                  <form id="wf-form-Site-Search" name="wf-form-Site-Search" method="get" class="nav-search_form" role="search">
                    <div class="nav-search_search-bar">
                      <input class="form-input is-nav-search w-input"
                             autocomplete="off"
                             maxlength="256"
                             name="Product-Search"
                             placeholder="Search countertops, services, products..."
                             type="text"
                             id="site-search-input"
                             aria-label="Search countertops, services, products..."/>
                      <div class="search-icon w-embed">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.875 15.4554L20.875 19.4602C21.0536 19.6589 21.0448 19.9631 20.855 20.1511L20.155 20.8519C20.0611 20.9467 19.9333 21 19.8 21C19.6667 21 19.5389 20.9467 19.445 20.8519L15.445 16.8471C15.3344 16.7362 15.234 16.6156 15.145 16.4867L14.395 15.4855C13.1541 16.4776 11.613 17.0178 10.025 17.0173C6.75261 17.0287 3.90902 14.7686 3.17773 11.5751C2.44643 8.38161 4.0226 5.10699 6.9731 3.68991C9.92359 2.27284 13.461 3.09151 15.491 5.66125C17.521 8.23099 17.5019 11.866 15.445 14.4142L16.445 15.105C16.6012 15.2051 16.7454 15.3226 16.875 15.4554ZM5.025 10.0089C5.025 12.7736 7.26357 15.0149 10.025 15.0149C11.3511 15.0149 12.6229 14.4875 13.5605 13.5487C14.4982 12.6099 15.025 11.3366 15.025 10.0089C15.025 7.24412 12.7864 5.00285 10.025 5.00285C7.26357 5.00285 5.025 7.24412 5.025 10.0089Z" fill="#1e2749"/>
                        </svg>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>

          <!-- Right Side - CTA Button -->
          <div class="navbar_menu-top-right">
            <a href="/get-a-free-estimate" class="button is-small w-button">Get Free Estimate</a>
          </div>
        </div>

        <!-- Main Navigation Menu -->
        <nav role="navigation" class="nav-menu w-nav-menu">

          <!-- Countertops Dropdown -->
          <div class="navbar_dropdown w-dropdown">
            <div class="navbar_dropdown-toggle w-dropdown-toggle">
              <div class="navbar_dropdown-icon w-icon-dropdown-toggle"></div>
              <div class="navbar_link-text">Countertops</div>
            </div>
            <nav class="navbar_dropdown-list w-dropdown-list">
              <a href="/countertops/quartz-countertops" class="navbar_dropdown-link w-dropdown-link">Quartz</a>
              <a href="/countertops/granite-countertops" class="navbar_dropdown-link w-dropdown-link">Granite</a>
              <a href="/countertops/marble-countertops" class="navbar_dropdown-link w-dropdown-link">Marble</a>
              <a href="/countertops/quartzite-countertops" class="navbar_dropdown-link w-dropdown-link">Quartzite</a>
              <a href="/countertops/porcelain-countertops" class="navbar_dropdown-link w-dropdown-link">Porcelain</a>
              <a href="/materials" class="navbar_dropdown-link w-dropdown-link">All Materials</a>
            </nav>
          </div>

          <!-- Services Dropdown -->
          <div class="navbar_dropdown w-dropdown">
            <div class="navbar_dropdown-toggle w-dropdown-toggle">
              <div class="navbar_dropdown-icon w-icon-dropdown-toggle"></div>
              <div class="navbar_link-text">Services</div>
            </div>
            <nav class="navbar_dropdown-list w-dropdown-list">
              <a href="/services/home/kitchen-remodeling-arizona" class="navbar_dropdown-link w-dropdown-link">Kitchen Remodeling</a>
              <a href="/services/home/bathroom-remodeling-arizona" class="navbar_dropdown-link w-dropdown-link">Bathroom Remodeling</a>
              <a href="/service/countertop-installation-arizona" class="navbar_dropdown-link w-dropdown-link">Countertop Installation</a>
              <a href="/service/sink-installation-arizona" class="navbar_dropdown-link w-dropdown-link">Sink Installation</a>
              <a href="/services" class="navbar_dropdown-link w-dropdown-link">All Services</a>
            </nav>
          </div>

          <!-- Shop Link -->
          <a href="/shop" class="navbar_link w-nav-link">Shop</a>

          <!-- Tools Dropdown -->
          <div class="navbar_dropdown w-dropdown">
            <div class="navbar_dropdown-toggle w-dropdown-toggle">
              <div class="navbar_dropdown-icon w-icon-dropdown-toggle"></div>
              <div class="navbar_link-text">Tools</div>
            </div>
            <nav class="navbar_dropdown-list w-dropdown-list">
              <a href="/tools/countertop-calculator" class="navbar_dropdown-link w-dropdown-link">Countertop Calculator</a>
              <a href="/tools/visualizer" class="navbar_dropdown-link w-dropdown-link">Kitchen Visualizer</a>
            </nav>
          </div>

          <!-- About Dropdown -->
          <div class="navbar_dropdown w-dropdown">
            <div class="navbar_dropdown-toggle w-dropdown-toggle">
              <div class="navbar_dropdown-icon w-icon-dropdown-toggle"></div>
              <div class="navbar_link-text">About</div>
            </div>
            <nav class="navbar_dropdown-list w-dropdown-list">
              <a href="/company/about-surprise-granite" class="navbar_dropdown-link w-dropdown-link">About Us</a>
              <a href="/company/contact-us" class="navbar_dropdown-link w-dropdown-link">Contact</a>
              <a href="/blog" class="navbar_dropdown-link w-dropdown-link">Blog</a>
              <a href="/reviews" class="navbar_dropdown-link w-dropdown-link">Reviews</a>
            </nav>
          </div>

        </nav>
      </div>
    </div>

  </nav>
</div>
